html,body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
#header {
	background-color: black;
	color: white;
}
#content{
}
#nav {
	background-color: #eeeeee;
	padding: 15px;
}
#footer {
	background-color: black;
	color: white;
	text-align: center;
	padding: 5px;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 30px;
}
img#header_img{
	width:125px;
	height:125px;
	float:left;
}
table#header_table{
	margin-left: auto;
	margin-right: auto;
	border-spacing: 10px;
	border-collapse: separate;
	text-align: left;
}

.foot-pad{
	padding-bottom: 30px;
}
.tab-content{
	padding:15px;
}